@model IEnumerable<CinemaOnline.Models.Movie>

<section class="premiere">
    <div class="container">
        <ul class="bxslider ">
            @foreach (var m in Model)
            {
                <li class="card">
                    
                    <a href='@Url.Action("Movie", "Home",  new {id=m.MovieId })' class="card ">
                        <img src=@m.ImgLogoSrc alt="@m.NameM" title="@m.NameM">
                        <div class="block">
                            <img src="~/image/ServiceImg/play_21_2.png" class="imgsomeplaysmall" alt="Play now" />
                        </div>
                        <p>@m.NameM</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            mode: 'horizontal',
            pager: false,
            controls: true,
            auto: true,
            pause: 5000,   
            moveSlides: 1,
            slideMargin: 10,
            infiniteLoop: true,
            slideWidth: 500,
            minSlides: 7,
            maxSlides: 7,
            speed: 600
        });
    });
</script>
